@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');

ul{
    list-style: none;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: blue;
    color: white;
    padding: 1rem 0;
}

.nav-container{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.mobile-tablet-menu{
    font-size: 2rem;
}

.desktop-menu{
    display: none;
}

section{
    margin: 2rem 0;
}

.main-blue-card{
    background-color: lightskyblue;
    width: 80%;
    margin: auto;
    padding: 1.5rem 2rem 0 2rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    color: rgb(108, 108, 108);
}

.main-blue-card h2{
    color: blue;
}

.info-btn-container *{
    margin-bottom: 1.5rem;
}

.app-store-btn{
    display: block;
}

.main-blue-card img{
    width: 80%;
    margin: 0 10%;
    vertical-align: bottom;
}

.blue-card{
    padding: 1.5rem 2rem;
    background-color: lightskyblue;
    color: blue;
    width: 80%;
    margin: auto;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: 700;
}

.blue-card p{
    color: rgb(108, 108, 108);
}

.blue-card *{
    margin-bottom: 1.5rem;
}

.blue-card i{
    font-size: 4rem;
}



.strategic-planning-section{
    background-color: violet;
}




@media screen and (min-width: 480px) {

    .nav-container{
        width: 93%;
    }

    .blue-cards-container{
        width: 93%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main-blue-card{
        width: calc(((92% / 3) * 2 + 4% ));
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 4%;
        border-radius: 1rem;
    }

    .blue-card{
        width: calc(92% / 3);
        margin: 0;
        margin-bottom: 4%;
        border-radius: 1rem;
    }

    .main-blue-card img{
        width: 60%;
        margin-left: 0;
        vertical-align: bottom;
    }

}


@media screen and (min-width: 679px) {

    .nav-container{
        width: 80%;
    }

    .mobile-tablet-menu{
        display: none;
    }

    .desktop-menu{
        display: block;
    }

    .desktop-menu li{
        display: inline;
        margin: 1rem;
    }

    .blue-cards-container{
        width: 80%;
    }

    .main-blue-card{
        flex-direction: row;
    }

    .info-btn-container{
        width: 50%;
    }

    .card-img{
        width: 50%;
        display: flex;
        align-items: flex-end;
    }

    .main-blue-card img{
        width: 90%;
        margin-left: 1.5rem;
    }


}

