@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: blue;
    color: white;
    padding: 1rem 0;
}

.nav-container{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

section{
    margin: 2rem 0;
}

.main-blue-card{
    background-color: lightskyblue;
    width: 80%;
    margin: auto;
    padding: 1.5rem 2rem 0 2rem;
    margin-bottom: 1.5rem;
}

.info-btn-container *{
    margin-bottom: 1.5rem;
}

.app-store-btn{
    display: block;
}

.main-blue-card img{
    width: 60%;
    margin: 0 20%;
    vertical-align: bottom;
}

.blue-card{
    padding: 1.5rem 2rem;
    background-color: lightskyblue;
    color: blue;
    width: 80%;
    margin: auto;
    margin-bottom: 1.5rem;
    text-align: center;
}

.blue-card p{
    color: rgb(108, 108, 108);
}

.blue-card *{
    margin-bottom: 1.5rem;
}

.blue-card i{
    font-size: 4rem;
}


@media screen and (min-width: 480px) {


    .nav-container{
        width: 93%;
    }

    .blue-cards-container{
        width: 93%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main-blue-card{
        width: calc(((92% / 3) * 2 + 4% ));
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 4%;
        border-radius: 1rem;
    }

    .blue-card{
        width: calc(92% / 3);
        margin: 0;
        margin-bottom: 4%;
        border-radius: 1rem;
    }

    .main-blue-card img{
        width: 60%;
        margin-left: 0;
        vertical-align: bottom;
    }
    

}

